
// blog content

// aside navigation

.blog_navigation {


    .last_blog_articles h4 {
    	color: #f26259;
    }

    .last_blog_articles a {
    	color: #0f65bd;
    	text-decoration: none;
    	border-bottom: 1px dashed #0f65bd;
    }
}

// end aside navigation

// bl_cnt

.blog_content .bl_cnt header h3 {
    color: #0f65bd;
}


.blog_content .bl_cnt a {
    text-decoration: none;
}

.bl_cnt_acticle hr {
    height: 1px;
    background: #e9e9e9;
    border: none;
}

// end bl_cnt

// blog_content 

// end blog content

