// blog FAQ

.bl_faq_cnt h3 {
    color: #0f65bd;
}

.faq_question_wrap .f_q_title-down a {
    color: #0f65bd;
    text-decoration: none;
    border-bottom: 1px dashed #0f65bd;
}


.faq_question_wrap .f_q_title-up a {
    color: #2b3942;
    text-decoration: none;
    border-bottom: 1px dashed #2b3942;
}

// end blog FAQ