// contacts_vacancy_manager

// contacts_vacancy_manager_content

.contacts_vacancy_manager_content h3 {
    color: #0f65bd;
    text-transform: uppercase;
}

.contacts_vacancy_manager_content p {
    color: #2b3942;
}


// end contacts_vacancy_manager